.header {
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    border-radius: 20px;
  }
  
  .header-img {
    width: 100%;
    height: auto;
  }
  
  .header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .header-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: #EDCDA8;
    font-size: 2.2vw;
    text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000; 
    animation: FadeIn 3s;
  }
  
  .header-text h1 {
    margin: 0;
    font-size: 3vw; /* Kích thước chữ tiêu đề */
    font-weight: bold;
  }
  
  .header-text p {
    margin: 10px 0 20px;
    font-size: 1.5vw; /* Kích thước chữ đoạn văn */
  }
  
  .header-text .brow {
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #AC607E;
    color: white;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid black;
  }
  
  @media screen and (max-width: 1500px) {
    .header {
      margin-top: 12%;
    }
  }
  
  @media screen and (max-width: 750px) {
    .header {
      margin-top: 10%;
      text-align: center;
    }
      
  .header-text p {
    margin: 10px 0 20px;
    font-size: 0.5em; /* Kích thước chữ đoạn văn */
  }
  .header-text h1 {
    margin: 0;
    font-size: 1.5em; /* Kích thước chữ tiêu đề */
    font-weight: bold;
  }
  .FGZ{
    color: red;
  }
  
    .header-img img {
      height: 50vw;
    }
    .header-text {
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
      font-size: 2em;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header-text {
      top: 12%;
      left: 50%;
      transform: translate(-50%, -12%);
      font-size: 1.2em;
    }
  }
  