/* src/components/Footer/Footer.css */
.Footer {
  background-color: #18181C;
  color: #FFF;
  padding:100px 200px;
  font-size: max(1vw,30px);
}

.Footer a {
  color: #FF4081;
  margin: 0 10px;
  text-decoration: none;
}


.item-social{
  margin: 5px 0;
}
a{
  text-decoration: none;
  color: white;
}

.Footer img{
  width: 40px;
  height: 40px;
  background-color: #FFF;
  border-radius: 50%;
  object-fit: cover;
  border: 1px black solid;
}
.Footer img:hover {
  background-color: aqua;
}
.footer-review{
  margin: 20px 0;
  display: grid ;
  grid-template-columns: repeat(3,1fr);

}
.footer-review p{
  font-size: 15px;
}
.last-comment{
  margin-top: 10px;
  text-align: center;
}
.last-comment p{
  font-size: 12px;
}
@media screen and (max-width:600px) {
  .Footer{
      padding:0;
  }
  .footer-review p{
    font-size: 10px;
  }
  .last-comment p{
    font-size: 10px;
  }
}