.login-popup{
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    animation: fadeIn 0.5s;
}
.login-popup-tilte{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: back;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #18181C;
    font-size: 15px;
    cursor: pointer;
}
.login-popup-container button:hover{
    background-color: #34343b;
}
.login-popup-condition{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login-popup-container span{
    cursor: pointer;
}
.support-distribute{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.support-distribute button{
    width: 95%;
    margin: 0 auto;
    padding: 20px 10px;
    text-align: start;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color:#202020;
    border: none;
    border-radius: 10px;
}
@media screen and (max-width:750px) {
    .login-popup{
        margin-top: -18%;
    }
}