/* src/Home.css */
  
  .trending, .flash-sales {
    padding: 20px;
  }
  
  .games {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .game {
    text-align: center;
    margin: 10px;
    width: 20vw;
    background-color: gray;
    border-radius: 5px;
  }
  .game img{
    width: 100%;
  }
  
  
  .social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  