/* Home.css */
.Home {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #121212;

  }
  .HomeH2{
    text-decoration: underline;
  }
.css-home{
  width: 100%;
  background-color: #121212;
  margin: 0;
}
  .text{
    overflow-x: scroll;
    overflow-x: hidden;
  }
  .title{
    margin: 20px auto;
    font-size: 1.5em;
  }
  @media screen and (max-width:750px) {
    .Home{
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .text{
      overflow: auto;
    }
}