/* src/Pages/Home/ProductDetail.css */
.ProductDetail {
    margin: auto;
    width: 80%;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    color: #FFF;
    margin-top: 4%;

  }
  .deltail-h1{
    font-size: 50px;
  }
  
  .ProductDetail img {
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    height: auto;
  }
  .ProductDetail h1 {
    margin-bottom: 20px;
  }
  
  .ProductDetail p {
    font-size: 18px;
    margin: 10px 0;
    color: #FFF;
  }
  .details-content{
    display: grid;
    position: relative;
    grid-template-columns: 80% 20%;
    height: 80vh;
  }
  .base-game p{ 
    font-size: 14px;
    background-color: #2A2A2A;
    width: 80px;
    padding: 5px;
  }
  /* Left Details */
  .detail-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .detail-left .genres{
    color: #9A9A9A;
  }
  .detail-description p{
    font-size: 25px;
  }
  /* Right Details */
  .detail-right{
    width: 15vw;
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 1px;
    left: 80%;
  }
  .detail-bt button{
      width: 100%;
      padding: 15px;
      margin-bottom: 20px;
      font-size: 1em;
      border-radius: 5px;
      cursor: pointer;
  }
  .detail-bt .buyNow{
    background-color: #F1B22C;
    border: none;
  }
  .detail-bt .buyNow:hover{
    background-color: #CA9625;
  }
  .detail-bt .addToCard{
    background-color: #121212;
    color: #F5F5F5;
    border: white 1px solid;
  }
  .detail-bt .addToCard:hover {
    background-color: #868686;
  }
  .suggestion{
    position: relative;
  }