/* src/Pages/Home/ProductDetail.css */
.ProductDetail {
    margin: auto;
    width: 80%;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    color: #FFF;
    margin-top: 4%;
  }
  body{
    background-color: #121212;
  }
  .deltail-h1{
    font-size: 50px;
  }
  
  .ProductDetail img {
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    height: auto;
  }
  .ProductDetail h1 {
    margin-bottom: 20px;
  }
  
  .ProductDetail p {
    font-size: 18px;
    margin: 10px 0;
    color: #FFF;
  }
  .details-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
    position: relative;
    position: -webkit-sticky;
    width: 100%;
  }
  .base-game p{ 
    font-size: 14px;
    background-color: #2A2A2A;
    width: 80px;
    padding: 5px;
  }
  /* Left Details */
  .detail-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .detail-left .genres{
    color: #9A9A9A;
  }
  .detail-description p{
    font-size: 25px;
  }
  /* Right Details */
  .detail-right{
    position: sticky;
    width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .detail-bt button{
      width: 100%;
      padding: 15px;
      margin-bottom: 20px;
      font-size: 1em;
      border-radius: 5px;
      cursor: pointer;
      color: #F5F5F5;
  }
  .detail-bt .buyNow{
    background-color: #3875E3;
    border: none;
  }
  .detail-bt .buyNow:hover{
    background-color: #488BE8;
  }
  .detail-bt .addToCard{
    background-color: #121212;
    border: white 1px solid;
  }
  .detail-bt .addToCard:hover {
    background-color: #868686;
  }
  table{
    width: 100%;
    column-gap: 40px;
    text-align: right;
  }
  table tr{
  }
  .p-left{
    text-align: left  ;
  }
  .suggestion{
    display: block;
  }
@media  screen and (max-width:750px) {
  .detail-right{
    width: 100%;
    position: static;
    z-index: 1;
  }
  .details-content{
    display: flex;
    flex-direction: column;
    flex: auto auto auto;
  }
  
  .deltail-h1{
    font-size: 2em;
  }


  .ProductDetail{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .suggestion{
    margin-top: 100px;
  }
}