/* src/Pages/Home/ProductDetail.css */
.ProductDetail {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    color: #FFF;
  }
  
  .ProductDetail img {
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  .ProductDetail h1 {
    margin-bottom: 20px;
    color: #FF4081;
  }
  
  .ProductDetail p {
    font-size: 18px;
    margin: 10px 0;
    color: #FFF;
  }
  