/* src/Pages/Home/ProductDetail.css */
.ProductDetail {
    margin: auto;
    width: 80%;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    color: #FFF;
    margin-top: 4%;
  }
  .name{
    margin-top: 40px;
  }
  
  .ProductDetail img {
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  .ProductDetail h1 {
    margin-bottom: 20px;
  }
  
  .ProductDetail p {
    font-size: 18px;
    margin: 10px 0;
    color: #FFF;
  }
  