/* App.css */


body {
  background-color: #121212;
  color: #FFF;
  margin: 0;
  padding: 0;
}

a{
  color: #FFF;
  margin: 0 15px;
  text-decoration: none;
}

/* Set all Game in App */
.games {
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  box-sizing: border-box;
}
.games{
  width: 250px;
  height:500px;
}

.game img {
  border-radius: 5px;
  width: 100%;
  height: 270px;

}

.game h3, .game p {
  margin: 10px 0;
}

/* Previous-Next,Title */

.title-pre-next{
  margin-bottom: 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pre-next{
  display: flex;
  gap:5px;
}
.pre-next button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.pre-next button:hover{
  background-color: gray;
}


/* Animation */
@keyframes FadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}