/* App.css */


body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #FFF;
  margin: 0;
  padding: 0;
}

a{
  color: #FFF;
  margin: 0 15px;
  text-decoration: none;
}

.header nav a:hover, .footer nav a:hover {
  text-decoration: underline;
}
/* Set all Game in App */
.games {
  display: grid;
  grid-template-columns: repeat(30,minmax(270px,1fr));
  gap: 30px;
  overflow: hidden;
}
.game img {
  border-radius: 5px;
  width: 100%;
  height: 270px;
}
.game h3, .game p {
  margin: 10px 0;
}


/* Previous-Next,Title */

.title-pre-next{
  display: flex;
  gap: 85%;
  align-items: center;
}
.pre-next button{
  padding: 8px;
  border-radius: 50%;
  border: none;
  margin-right: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
  align-items: center;
  cursor: pointer;
}
.pre-next{
  gap: 20px;
}


/* Animation */
@keyframes FadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}