/* App.css */


body {
  font-family: Arial, sans-serif;
  background-color: #1E1E1E;
  color: #FFF;
  margin: 0;
  padding: 0;
}

a{
  color: #FFF;
  margin: 0 15px;
  text-decoration: none;
}

.header nav a:hover, .footer nav a:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  border-bottom: 2px solid #FFF;
  padding-bottom: 10px;
  margin-bottom: 20px;
}


.game h3, .game p {
  margin: 10px 0;
}

.game a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #FF4081;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
}

.game a:hover {
  background-color: #FF80AB;
}


/* Animation */
@keyframes FadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}