.ShowMore{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:  black;
    z-index: 2;
    justify-content: space-between;
    margin: 0;
    top: 9%;
    
}
.ShowMore-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.cart-login{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1px;
}
.show-account{
    margin-top: 5px;
    width: 60px;
    height: 40px;
}
.show-cart{
    width: 50px;
    height: 50px;
}
.show-cart-dot{
    position: relative;
}
.show-dot{
    position: absolute;
    display: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 5px;
    right: 2px;
}
.show-download{
    margin: 0 auto;
    padding: 20px 10px;
    background-color:rgb(38, 187, 255) ;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    bottom: 35%;
    width: 80%;
    left: 10%;
}
.show-download:hover{
    background-color: #61CDFF;
}