.navbar{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: #18181C;
  align-items: center;
  z-index: 100;
  margin-top: 0;
  top: 0;
}
/* Left navbar */
.logo{
  margin-left: 20px;
  width: 4vw;
  border-radius: 70%;
}
.nav-left{
  display: flex;
  gap: 20px;
  align-items: center;
}
/* Right navbar*/
.nav-right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.account-img{
  width: 3vw;
  border-radius: 50%;
}
.bt-download{
  padding: 6px 15px;
  background-color: #61CCFF;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}