.navbar{
  display: flex;
  position: fixed;  
  width: 100%;
  justify-content: space-between;
  background-color: #18181C;
  align-items: center;
  z-index: 1;
  top: 0;
  height: 4vw;
}
/* Left navbar */
.logo{
  margin-left: 20px;
  width: 4vw;
  height: 100%;
  border-radius: 70%;
}
.line {
  font-size: 30px;
}
.nav-left{
  display: flex;
  gap: 20px;
  align-items: center; 
}
/* Right navbar*/
.nav-right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.account-img{
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.bt-download{
  padding: 6px 15px;
  background-color: #61CCFF;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
.cart{
  margin-top: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.account-img img{
  width: 10px;
  height: 10px;
}
.cart-dot{
  position: relative;
}
.dot-img{
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: -2%;
  display: none;
}

@media screen and (max-width:600px) {
   .navbar{
    height: 50px;
    font-size: 16px;
     margin: 0;
   }
   .logo{
    width: 50px;
    height: 100%;
    margin: 0;
   }
   .nav-left{
    gap: 0;
   }
   .line{
    display: none;
   }
   .bt-download{
    display: none;
   }
   .nav-right{
    gap: 0px;
    margin: 0;
   }
}