.navbar{
  display: flex;
  position: sticky;  
  width: 100%;
  justify-content: space-between;
  background-color: #18181C;
  align-items: center;
  z-index: 1;
  top: 0;
  height: 4vw;
  padding:  40px  0;
}
/* Left navbar */
.logo{
  margin-left: 20px;
  width: 4vw;
  height: 100%;
  border-radius: 50%;
  margin-right: 30px ;
}
.logo-class{
  border-right: 3px solid gray;
  height: 50px;
}
.line {
  font-size: 30px;
}
.nav-left{
  display: flex;
  gap: 20px;
  align-items: center; 
}
.nav-left h2{
  font-size: 2em;
}
/* Right navbar*/
.nav-right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.account-img{
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.bt-download{
  padding: 6px 15px;
  background-color: #61CCFF;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
.cart{
  margin-top: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.account-img img{
  width: 10px;
  height: 10px;
}
.cart-dot{
  position: relative;
}
.dot-img{
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: -2%;
}
.search-button{
  cursor: pointer;
}
.more {
  display: none;
}
.un-more{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
@media screen and (max-width:750px) {
   .navbar{
    height: 10%;
    font-size: 16px;
    z-index: 2;
    margin: 0;
   }
   .logo{
    width: 50px;
    height: 100%;
   }
   .nav-left{
    gap: 10px;
   }
   .line{
    display: none;
   }
   .bt-download{
    display: none;
   }
   .nav-right{
    gap: 0px;
    margin: 0;
   }
   .cart-dot{
    display: none;
   }
   .account-img{
    display: none;
   }
   .more{
    display: block;
    margin-right: 20px ;
   }
}