.AboutUs-container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.AboutUs{
    background-color: white;
    color: black;
    font-size: 14px;
}
.AboutUs-container h1{
    padding: 2% 0;
    font-weight: 900;
}
.AboutUs-container-content{
   border-top: 1px solid #F7F7F7;
   border-bottom: 1px solid #F7F7F7;
    padding: 30px 0;
}
.AboutUs-container h2{
    padding: 10px 0;
}
.About-container-about{
    padding: 20px 0;
}
.About-container-border{
    font-weight: 700;
}
.About-container-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #F7F7F7 ;
    text-align: start;
    border-bottom: 1px solid #F7F7F7 ;
}
.About-container-border-question{
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
}
.About-question-contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
}