
.free-games{
    justify-content: space-between; 
    background-color: #2A2A2A;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 10px;
}
.flash-sales{
    background-color: #2A2A2A;
    border-radius: 5px;
}
.games-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
.games-items .game img{
    width: 100%;
    height: 100%;
}
.free-games img{
    width: 100px;
}
.header-left{
    display: flex;
    align-items: center;
}
.free-game-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.free-game-header button{
    width: 120px;
    padding: 10px 0;
    color: white;
    border: 1px solid white;
    background-color: #2A2A2A;
}
.game-banner-free{
    position: relative;
}
.banner-free{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    font-size: 1.2em;
    align-items: center;
    background-color: #3C78F2;
    position: absolute;
}
@media screen and (max-width:600px) {
    .free-games{
        width: 100%;
    }
    .free-games img{
        width: 50px;
    }
    .games-items{
        display: flex;
        flex-direction: column;
    }
}