/* GENE */
.Gene{
    overflow: hidden;
}

.trending{
    overflow: hidden;
    margin: 40px auto;
}
/* Add icon */
.add-icon{
    position: absolute;
    background-color: aliceblue;
    width: 45px;
    height: 45px;
    top:2%;
    right: 2%;
    border-radius: 50%;
    cursor: pointer;
}
.add-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.game-img{
    position: relative;
}