/* General Styles */
.Gene {
    overflow: hidden;
  }
  
  .trending {
    overflow: hidden;
    margin: 20px auto;
  }
  
  /* Add Icon */
  .add-icon {
    position: absolute;
    background-color: #fff;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .add-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .add-icon img:hover {
    background-color: #00aaff;
  }
  
  .game-img {
    position: relative;
  }
  
  /* Game Item Styling */
  .game {
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .game:hover {
    transform: scale(1.05);
  }
  
  .game img {
    width: 100%;
    border-bottom: 1px solid #333;
  }
  
  .game h4, .game p {
    padding: 0 10px;
    color: #fff;
  }
  
  .game h4 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .game p {
    font-size: 0.9em;
    margin: 5px 0;
  }
  
  /* Media Queries */
  @media screen and (max-width: 1200px) {
    .game {
        width: 90%;
        margin: 10px auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .game {
        width: 100%;
    }
  }
  