/* App.css */

body {
  color: white;
  background-color: black;
  padding: 0;
}
.App{
  height: 90%;
  margin: auto 0;
  position: relative;
}
a{
  color: #FFF;
  text-decoration: none;
}

/* Set all Game in App */
.games {
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  box-sizing: border-box;
  width: 250px;
  height:300px;
}
.games:hover{
  background-color: #0000;

}
.game img {
  border-radius: 5px;
  width: 100%;
  height: 100%;

}

.game h3, .game p {
  margin: 10px 0;
}

.title-pre-next{
  margin-bottom: 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pre-next{
  display: flex;
  gap:5px;
}
.pre-next button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.pre-next button:hover{
  background-color: gray;
}


/* Animation */
@keyframes FadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}
@media screen and (max-width:750px) {
  .pre-next button{
    display: none;
  }
}
