.flash-sales{
    margin-top: 40px;
    width: 100%;
    height: 50%;
}
.free-games{
    justify-content: space-between; 
    background-color: gray;
    padding: 40px 10px;
    margin: 10px 100px;
}
.flash-sales{
    background-color: gray;
    border-radius: 5px;
}
.games-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
.games-items .game img{
    width: 100%;
    height: 100%;
}