/* Catalogue.css */
.Catalogue {
  width: 80%; 
  margin: 0 auto;
}
.genre-section {
  margin-bottom: 40px;
}
.catalogue-game-item{
  margin-top: 10%;
}
.catalogue-games{
  display: flex;
  gap: 20px;
}
.catalogue-games img{
  width: 250px;
}
h2{
  margin: 10px auto;
}
@media screen and (max-width:600px) {
  .catalogue-game-item{
    margin-top: 20%;
  }
}