.header{
    position: relative;
    background: url('../../assets/Carousel.webp') no-repeat;
    background-size: cover;
    width: 100%;
    height:28vw ;
}
.header .header-text{
    position: absolute;

}