.header{
    margin-top: 5%;
    position: relative;
    background-size: cover;
    margin: 5% auto;
    text-align: center;
}

.header img{
    filter: brightness(80%);
    width: 90%;
    height:28vw ;
    border-radius: 20px;
}
.header .header-text{
    color: #f0f042;
    position: absolute;
    font-size: 2.2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    top: 28%;
    left: 10%;
    animation: FadeIn 3s;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}
.header-text .brow{
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #F73F81;
    color: white;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid black;
}
@media screen and (max-width:1500px) {

    .header{
        margin-top: 12%;
    }
}

@media screen and (max-width:750px) {
    .header img{
        width: 100%;
        height: 50vw;   
        border-radius: 0;
        overflow: hidden;
    }
    .header .header-text{
        top :20%;
        left:12%;
        font-size: 2em;
        text-align: center;
        gap: 10px;
    }
    .header{
        margin-top: 22%;
        text-align: center;
    }
    .header-img{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .header .header-text{
        top :12%;
        left:15%;
        font-size: 1.2em;
        text-align: center;
        gap: 10px;
    }
}