.header{
    margin-top: 5%;
    position: relative;
    background: url('../../assets/Carousel.webp') no-repeat;
    background-size: cover;
    width: 100%;
    height:28vw ;
    border-radius: 20px;
}
.header .header-text{
    color: #FFFF99;
    position: absolute;
    font-size: 2.2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    top: 28%;
    left: 10%;
    animation: FadeIn 3s;
}
.header-text .brow{
    margin-top: 20px;
    padding: 0.9vw 2.1vw;
    border-radius: 20px;
    background-color: #F73F81;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
@media screen and (max-width:600px) {
    .header{
        width: 100%;
        height: 50vw;   
        border-radius: 0;
        overflow: hidden
    }
    .header-text{
        position: sticky;
        font-size: 2em;
        justify-content: center;
    }
}